// Colors
$black: #000000;
$white: #ffffff;
$accent: #B97585;
$default: #1E1E1E;
// Colors
// Font
$font: 'Roboto';
$font-second: 'Open Sans',sans-serif;
// Font

%bg-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
%bg-contain{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}